/* .App {
  background-image: url(./skullkingBG.jpg);
  min-height: 100%;
  background-size: 100% 100%;
}
 */
.appTitle {
  text-align: center;
  margin-top: 0;
  padding-top: 15px;
  text-shadow: black;
}


.ScoreBoard {
  display: flex;
  justify-content: left;
}

.popup-content {
  width: 100px !important;
}

.menu {
  width: 150%;
  display: flex;
  background: rgba(255, 255, 255, 0.85);
  align-items: flex-start;
  flex-wrap: wrap;
}

.bonus-menu {
  width: 200% !important;
}

.menu-item {
  cursor: pointer;
  padding: 10px 5px;
  height: 28px;
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 2.5em;
}

.bonus-menu-item {
  font-size: 1.5em;
}

.menu-item:hover {
  color: #2980b9;
}