.appTitle {
  text-align: center;
}


.ScoreBoard {
  display: flex;
  justify-content: left;
}

.popup-content {
  width: 100px !important;
}

.menu {
  width: 100%;
  display: flex;
  background: #eeeeee;
  align-items: flex-start;
  flex-wrap: wrap;
}
.menu-item {
  cursor: pointer;
  padding: 10px 5px;
  height: 28px;
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 2.5em;
}
.menu-item:hover {
  color: #2980b9;
}